<div style="width: 100%;">
  <div style="width: 50%; float: left;">
    <h2 style="color:hotpink;">Input</h2>
    <textarea type="text" [(ngModel)]="input" style="color:hotpink;background: transparent;width: 95%;height: 85%;" rows="25"></textarea>
  </div>
  <div style="width: 50%; float: left;">
    <h2 style="color:hotpink;">Output</h2>
    <textarea type="text" [(ngModel)]="output" style="color:hotpink;background: transparent;width: 95%;height: 85%;" rows="25" disabled></textarea>
  </div>
</div>
<div style="width: 100%">
  <button style="color:hotpink; background: aqua;" (click)="randomize()">Wooloo Wooloo Wooloo</button>
</div>